.translucent.bottom.title-box 
.opaque.bottom.title-text
  %h1
    Jesse and Katie's Oregon Trip 2012

.status-box.translucent
  %div.side-padding-10
    %dl
      %dt
        Currently Driving
      %dd
        = Driver.current.name
  %div.side-padding-10
    %dl
      %dt
        Current Location
      %dd
        = @geo_info.city
        ,
        = @geo_info.state

#map_canvas

- content_for(:javascripts) do
  :coffeescript
    map = new Map(#{@coords.lat}, #{@coords.lon})
    map.gaRenderMap("map_canvas")

- content_for(:stylesheets) do
  %link{href:'http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel:'stylesheet', type:'text/css'}
